#### Env Guidelines
### - Everything should have a sane default
### - Nothing should be required to run locally
### - .env file should not need to be committed to the repo
### - Testing and Deployment need to be updated to accomodate required env vars
### - Eventually Env in staging and prod should be set in SSM

## General Settings
# Determines which settings.py to use
DJANGO_SETTINGS_MODULE=configuration.api.settings.test

###  Django Settings  ###

## Host / Network Settings
# Host name to reach Django instance
DJANGO_EXTERNAL_HOST_NAME="127.0.0.1"
# Port number to reach django instance
DJANGO_EXTERNAL_PORT_NUM="80"
# Port number exposed by Docker container
DJANGO_INTERNAL_PORT_NUM="80"
# Protocol used by the functional test
DJANGO_EXTERNAL_PROTOCOL="http"

## Database Settings
# Prod Container
DJANGO_DB_HOST=host.docker.internal
DJANGO_DB_PORT=5432
DJANGO_DB_NAME=mmpl_backend
DJANGO_DB_USER=mmpl_backend
DAJNGO_DB_PASS="!m8#Tg!XQ77J2HtpV6FX"

# Super User Settings
DJANGO_SU_NAME=example
DJANGO_SU_PASS=superC0mplexPassw0rd
DJANGO_SU_EMAIL=example@gmail.com

###  Build Settings  ###

## General
CONFIG_DIR="./configuration"

## Testing
# Pytest Config for determining where config is found, and where to output reports
PYTEST_UNIT_CONFIG_PATH="$CONFIG_DIR/pytest-unit.ini"
PYTEST_UNIT_REPORT_PATH="./pytest-unit.xml"
PYTEST_FUNC_CONFIG_PATH="$CONFIG_DIR/pytest-func.ini"
PYTEST_FUNC_REPORT_PATH="./pytest-func.xml"

# Coverage Report output path
COVERAGE_REPORT_PATH="./coverage.xml"

# Flake8 Config for determining config and report output paths
FLAKE8_CONFIG_PATH="$CONFIG_DIR/flake8.cfg"
FLAKE8_REPORT_PATH="./flake8.xml"

# Geckdrive log file output location
GECKO_LOG_PATH="geckodriver.log"