# Build environ
.env
.env*

# System Files
.DS_Store

# IDE Environ
.vscode/
Pipfile

# Test Output
geckodriver.log
pytest.xml
pytest-unit.xml
pytest-func.xml
coverage.xml
flake8.xml
db.sqlite3
.coverage
.pytest-cache

# Artifcats
export.sql
.aws-sam
functions/src/functional_tests.py

# Chrome Binaries
build_config/pipeline/test_traffic/function/bin/

### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Coverage Files
htmlcov/
.coverage
.coverage.*
coverage.xml
*.cover